@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Nunito:ital,wght@0,300;0,400;1,200&family=Rubik:wght@300&family=Source+Sans+Pro&display=swap");

body {
  font-family: "Rubik" !important;
  font-style: normal !important;
}
/* main header starts here */

.main-header {
  background-color: rgba(15, 35, 60, 1) !important;
  height: 70px !important;
}

.navbar .container {
  width: 1260px !important;
}

.navbar-nav li a {
  color: white !important;
  margin: 0;
}

.btn-outline-danger {
  height: 45px !important;
}
.dropdown-menu .dropdown-item {
  color: black !important;
}
.navbar-brand {
  font-size: 23px !important;
}

/* main header Ends here */

/*SImple header Starts here */
.simple-header {
  background: rgba(245, 245, 245, 1);
}

.simple-header p {
  margin: 0 15px;
}

.login-text {
  color: black;
  text-decoration: none !important;
}
/*SImple header Ends here */


/* footer starts here  */

footer {
    background-color: #f8f8f8;
    padding: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-menu ul li {
    margin-right: 20px;
  }
  
  .footer-menu ul li:last-child {
    margin-right: 0;
  }
  
  .footer-menu ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .footer-email form {
    display: flex;
    align-items: center;
  }
  
  .footer-email input[type="email"] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin-right: 10px;
  }
  
  .footer-email button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
/* footer Endshere  */