nav{
    background-color: rgb(66 72 78) !important;
    height: 65px !important;
}

.navbar .container{
    width: 1260px !important;
}

.navbar-nav  li  a{
    color: white !important;
    margin: 0;
}

.input-search{
    background: #FFFFFF;
border-radius: 5px;
height: 45px;
width: 351px !important;
}

.btn-outline-danger{
    height: 45px !important;
}

#navbar{
    background-color: rgb(66 72 78) !important;
    height: 65px !important;

}

.button-sec{
    background-color: red;
}