* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.admin-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.admin-container .navigation-area {
  width: 250px;
  background-color: #222d32;
}
.navigation-navbar {
  padding: 15px;
  text-align: center;
  background-color: transparent;
}

.admin-container > .navigation-area .menu-text {
  color: green;
  font-size: 14px;
  padding: 10px;
}
.admin-container > .navigation-area .logo {
  text-align: center;
  color: white;
}
.content-wrapper {
  width: 100%;
  background-color: #f9f9f9;
  height: 100%;
}

.navigation-menu {
  position: sticky;
  top: 0;
  margin: 10px 0;
}
.navigation-menu ul {
  list-style-type: none;
}
.navigation-menu ul li {
  text-align: center;
  color: white;
  cursor: pointer;
  /* background-color: red; */
  font-size: 14px;
  display: flex;
  /* align-items: center; */
  letter-spacing: 1px;
  padding: 15px;
}
.navigation-menu ul a {
  color: #b8c7ce;
  text-decoration: none;
}
.navigation-menu ul a:hover,
:active {
  color: white;
}

.navigation-menu ul li i {
  margin-right: 8px;
}

.text-danger {
  color: red;
}

.outline-none {
  border: none;
  outline: none;
  color: black;
}
.outline-none:focus {
  border: none;
  outline: none;
}
.fa-bars{
  color: black;
}
/* #sidebar{
  margin-left:250px !important;
} */
